/* Colors used
font-color: #2D3657;
background-color navbar: #dbebf9;
*/


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #fff;
  color: #2D3657;
}

.right {
  padding-right: 0px !important;
}

h1 {
  color: #2D3657;
  font-weight: bold;
  margin-top: 10px;
}

.form-inline {
  float: right;
}

.pokemon-list {
  margin-top: 100px;
  width: 100%;
}

.list-group-item {
  color: #2D3657;
}

.modal-dialog {
  color: #2D3657;
  text-align: center;
}
